[Ll]ibrary/
[Tt]emp/
[Oo]bj/

*.svd
 
![Ll]ibrary/*.asset
![Ll]ibrary/AssetImportState
![Ll]ibrary/AssetVersioning.db
![Ll]ibrary/BuildPlayer.prefs
![Ll]ibrary/ScriptMapper
![Ll]ibrary/assetservercachev3
![Ll]ibrary/expandedItems
![Ll]ibrary/guidmapper
![Ll]ibrary/unity default resources
![Ll]ibrary/unity editor resources
 
 
 
/Project/Project.userprefs
/Project/Assembly-CSharp.csproj
/Project/Assembly-CSharp.pidb
/Project/Assembly-CSharp-Editor.csproj
/Project/Assembly-CSharp-Editor.pidb
/Project/Assembly-CSharp-Editor-vs.csproj
/Project/Assembly-CSharp-firstpass.csproj
/Project/Assembly-CSharp-firstpass.pidb
/Project/Assembly-CSharp-firstpass-vs.csproj
/Project/Assembly-CSharp-vs.csproj
/Project/Assembly-UnityScript-firstpass.pidb
/Project/Assembly-UnityScript-firstpass.unityproj
/Project/Assembly-UnityScript-firstpass-vs.unityproj
/Project/Project.suo
